@mixin mQ($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
}

@mixin borderAfter($bottom) {
    content: '';
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: $bottom;
    border-bottom: 1px solid rgba(120,130,157,0.1);
    border-top: 1px solid #141824;
}

@mixin grid($col, $mrg) {
    float: left;
    margin-right: $mrg;
    margin-bottom: $mrg;
    width: ((100% - (($col - 1) * $mrg)) / $col);
    &:nth-child(#{$col}n) {
        margin-right: 0;
    }
}