.header {
    $self: &;
    display: flex;
    justify-content: space-between;

    &__logo {
        $self: &;
        display: flex;

        div {
            width: 10px;
            height: 10px;
            border-radius: 5px;

            &:not(:last-child) {
                margin-right: 5px;
            }

            &__logo--red {
                background-color: #e76847;
            }
            &__logo--yellow {
                background-color: #fabf00;
            }
            &__logo--green {
                background-color: #52bea6;
            }
        }
    }
}