.header {
    $self: &;
    display: flex;


    &__logo {
        display: flex;

        div {
            width: 10px;
            height: 10px;
            border-radius: 5px;

            &:not(:last-child) {
                margin-right: 5px;
            }
        }

        #{$self}__logo--red {
            background-color: #e76847;
        }
        #{$self}__logo--yellow {
            background-color: #fabf00;
        }
        #{$self}__logo--green {
            background-color: #52bea6;
        }
    }

    &__title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
                i {
            margin-right: 5px;
        }
    }


    &__nav {
        display: flex;


        .profile a {
            display: flex;
        }
    }


}