.header {
    $self: &;
    display: flex;
    height: 45px;
    background-color: $headerBG;
    align-items: center;


    &__logo {
        position: absolute;
        left: $marginHeaderSide;
        display: flex;


        div {
            width: 10px;
            height: 10px;
            border-radius: 5px;

            &:not(:last-child) {
                margin-right: 5px;
            }
        }

        #{$self}__logo--red {
            background-color: #e76847;
        }
        #{$self}__logo--yellow {
            background-color: #fabf00;
        }
        #{$self}__logo--green {
            background-color: #52bea6;
        }
    }

    &__title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        i {
            margin-right: 5px;

            &:before {
                font-size: $fontSize;
            }
        }

        @include mQ(1279px) {
            position: relative;
        }
    }


    &__nav {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
        }
        & > a {
            color: $textColor;

            position: relative;

            &:hover {
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -15px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: rgba(25,32,46,0.7);

                }
            }
        }
        .profile  {
            padding: 0 $marginHeaderSide;
            background-color: #15a4fa;
            height: 45px;
            display: flex;
            align-items: center;

            a {
                display: flex;
                align-items: center;
            }

            &__logo {
                width: 32px;
                height: 32px;
                border-radius: 16px;
                border: 2px solid #eef1f7;
                margin-right: 10px;

                 img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            &__name {
                color: #fff;
            }

            i {
                margin-left: 25px;
                color: #fff;
            }
        }

        & > a {
            margin-right: 25px;
        }
    }


}