.header {
    $self: &;
    display: flex;
    justify-content: space-between;

    &__logo {
        display: flex;

        div {
            width: 10px;
            height: 10px;
            border-radius: 5px;

            &:not(:last-child) {
                margin-right: 5px;
            }

            &--red {
                background-color: #e76847;
            }
            #{$self}--yellow {
                background-color: #fabf00;
            }
            #{$self}--green {
                background-color: #52bea6;
            }
        }
    }
}