.main {
    $self: &;

    &__content {
        width: 100%;
    }

    &__header {
        background-color: #eef1f7;

        #{$self}__title {
            font-size: 22px;
            line-height: 26px;
            color: #444c63;
            padding: 30px 0 30px 25px;
            border-bottom: 2px solid #dadfea;
        }

    }
    &__actions-bar {
            padding: 15px;
            border-top: 2px solid #f4f6fa;
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid #dadfea;

            #{$self}__filters {
                display: flex;

                li:not(:last-child) {
                    margin-right:  15px;
                }
                li {
                    font-size: 14px;
                    font-weight: 500;
                    padding: 6px 10px;
                    transition: background-color .3s all;

                    &.active, &:hover {
                        cursor: pointer;
                        background-color: #97b3ce;
                        border-radius: 10px;
                        color: #fff;
                    }
                }
            }

            label {
                position: relative;

                input {
                    padding: 8px 15px;
                    width: 200px;
                    border-radius: 16px;
                    background-color: #ffffff;
                    border: 1px solid rgba(140,151,178,0.4);
                    font-size: 14px;
                    

                    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: #8c97b2;
                        opacity: 1; /* Firefox */
                    }

                    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: #8c97b2;
                    }

                    &::-ms-input-placeholder { /* Microsoft Edge */
                        color: #8c97b2;
                    }

                    &:focus {
                        border: none;

                    }
                }
                i {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

        }
}

