
.menu__personal-categories {
    @include flexCol;
    position: relative;
    padding: 40px 0;
    box-sizing: border-box;

    a {
        padding-left: $contentMargin;
        display: flex;
        align-items: center;
        height: 48px;

        &::before {
            content: '';
            width: 8px;
            height: 8px;
            position: relative;
            border-radius: 50%;
            display: block;
            margin-right: $contentMargin;
        }

        &:nth-child(1)::before { background-color: #e64c66;}
        &:nth-child(2)::before { background-color: #ffab00;}
        &:nth-child(3)::before { background-color: #00bfdd;}
        &:nth-child(4)::before { background-color: #7874cf;}


        &:hover {
            background-color: $headerBG;
        }
    }

    &::after {
        @include borderAfter(-7px);
    }
}

.movie__personal-categories {
    @include flexCol;
    position: absolute;
    padding: 40px 0;
    box-sizing: border-box;
    z-index: 1;
    margin-left: 10px;
    top: 0;

    a {
        display: flex;
        align-items: center;
        height: 48px;

        &::before {
            content: '';
            width: 20px;
            height: 20px;
            position: relative;
            border-radius: 50%;
            display: block;
            margin-right: $contentMargin;
        }

        &:nth-child(1)::before { background-color: #e64c66;}
        &:nth-child(2)::before { background-color: #ffab00;}
        &:nth-child(3)::before { background-color: #00bfdd;}
        &:nth-child(4)::before { background-color: #7874cf;}


        &:hover {

        }
    }

    &::after {
        @include borderAfter(-7px);
    }
}