/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

.header { display: -webkit-box; display: -ms-flexbox; display: flex; height: 45px; background-color: #2f364a; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: fixed; z-index: 4; width: 100%; top: 0; }

.header__logo { position: absolute; left: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.header__logo div { width: 10px; height: 10px; border-radius: 5px; }

.header__logo div:not(:last-child) { margin-right: 5px; }

.header__logo .header__logo--red { background-color: #e76847; }

.header__logo .header__logo--yellow { background-color: #fabf00; -webkit-animation-delay: .1s; animation-delay: .1s; }

.header__logo .header__logo--green { background-color: #52bea6; -webkit-animation-delay: .2s; animation-delay: .2s; }

.header__title { position: absolute; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.header__title i { margin-right: 5px; }

.header__title i:before { font-size: 16px; }

@media screen and (max-width: 1279px) { .header__title { position: static; margin-left: 140px; } }

.header__nav { position: absolute; right: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.header__nav a { text-decoration: none; }

.header__nav > a { color: #78829d; position: relative; }

@media screen and (max-width: 1160px) { .header__nav > a { margin-right: 25px; } }

.header__nav > a:hover::after { content: ''; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); right: -15px; width: 8px; height: 8px; border-radius: 50%; background-color: rgba(25, 32, 46, 0.7); }

.header__nav .profile { padding: 0 30px; background-color: #15a4fa; height: 45px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; }

.header__nav .profile a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.header__nav .profile__logo { width: 32px; height: 32px; border-radius: 16px; border: 2px solid #eef1f7; margin-right: 10px; }

.header__nav .profile__logo img { -o-object-fit: cover; object-fit: cover; width: 100%; height: 100%; border-radius: 50%; }

.header__nav .profile__name { color: #fff; }

.header__nav .profile i { margin-left: 25px; color: #fff; }

@media screen and (max-width: 630px) { .header__nav .profile i { margin-left: 0; font-size: 18px; } }

@media screen and (max-width: 630px) { .header__nav .profile .profile__logo, .header__nav .profile .profile__name { display: none; } }

.header__nav .profile .profile__menu { display: none; position: absolute; top: 100%; right: 0; background-color: #2f364a; width: 100%; padding: 20px 32px; -webkit-box-shadow: -5px 5px 20px 0 rgba(0, 0, 0, 0.5); box-shadow: -5px 5px 20px 0 rgba(0, 0, 0, 0.5); -webkit-transition: opacity .3s; -o-transition: opacity .3s; transition: opacity .3s; }

@media screen and (max-width: 630px) { .header__nav .profile .profile__menu { width: 200px; } }

.header__nav .profile .profile__menu li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.header__nav .profile .profile__menu li span { margin-left: 25px; -webkit-transform: scaleX(-1); -ms-transform: scaleX(-1); transform: scaleX(-1); }

.header__nav .profile .profile__menu li a { -webkit-transition: .3s all; -o-transition: .3s all; transition: .3s all; }

.header__nav .profile .profile__menu li a:hover { color: #fff; }

.header__nav .profile .profile__menu li:not(:last-child) { margin-bottom: 10px; }

.header__nav .profile .profile__menu .show-mobile { display: block; }

.header__nav .profile:hover .profile__menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.header__nav > a { margin-right: 25px; }

@media screen and (max-width: 630px) { .header__nav .hide-mobile { display: none; } }

.menu { position: fixed; left: 0; background-color: #1f2637; min-height: 100vh; width: 350px; z-index: 3; height: 100%; -webkit-transition: width .3s; -o-transition: width .3s; transition: width .3s; }

.menu__new-movie { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 30px 0; position: relative; }

.menu__new-movie a.addMovie { min-width: 200px; padding: 20px 30px; border-radius: 4px; background-color: #f2795a; border: none; outline: none; color: #fff; text-transform: uppercase; font-weight: 700; font-size: 14px; }

@media screen and (max-width: 1520px) { .menu__new-movie a.addMovie { min-width: auto; width: 70%; padding: 10px 5px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; font-size: 12px; line-height: 13px; font-weight: 400; height: 45px; }
  .menu__new-movie a.addMovie span { display: none; } }

.menu__new-movie a.addMovie i { margin-right: 30px; }

@media screen and (max-width: 1520px) { .menu__new-movie a.addMovie i { margin-right: 0; } }

.menu__new-movie a.addMovie:hover { cursor: pointer; color: #fff; background-color: #f06642; }

.menu__new-movie::after { content: ''; height: 6px; width: 100%; position: absolute; bottom: 0; border-bottom: 1px solid rgba(120, 130, 157, 0.1); border-top: 1px solid #141824; }

.menu__movie-search { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 0; position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; }

.menu__movie-search a { height: 48px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-left: 30px; }

@media screen and (max-width: 630px) { .menu__movie-search a { padding-left: 17px; } }

.menu__movie-search a.active { background-color: #15a4fa; color: #fff; }

.menu__movie-search a:hover:not(.active) { background-color: #2f364a; color: #fff; }

.menu__movie-search i { margin-right: 30px; }

@media screen and (max-width: 1520px) { .menu__movie-search i { margin-right: 35px; } }

.menu__movie-search::after { content: ''; height: 6px; width: 100%; position: absolute; bottom: -7px; border-bottom: 1px solid rgba(120, 130, 157, 0.1); border-top: 1px solid #141824; }

.menu__personal-categories { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: relative; padding: 40px 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

.menu__personal-categories a { padding-left: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 48px; }

@media screen and (max-width: 1520px) { .menu__personal-categories a { display: inline-block; white-space: nowrap; padding-top: 18px; } }

@media screen and (max-width: 630px) { .menu__personal-categories a { padding-left: 17px; } }

.menu__personal-categories a .category-icon { width: 8px; height: 8px; position: relative; border-radius: 50%; display: inline-block; margin-right: 30px; }

@media screen and (max-width: 1520px) { .menu__personal-categories a .category-icon { width: 12px; height: 12px; margin-right: 35px; } }

.menu__personal-categories a:nth-child(1) .category-icon { background-color: #e64c66; }

.menu__personal-categories a:nth-child(2) .category-icon { background-color: #ffab00; }

.menu__personal-categories a:nth-child(3) .category-icon { background-color: #00bfdd; }

.menu__personal-categories a:nth-child(4) .category-icon { background-color: #7874cf; }

.menu__personal-categories a:hover { background-color: #2f364a; }

.menu__personal-categories a.active { font-weight: 700; }

.menu__personal-categories::after { content: ''; height: 6px; width: 100%; position: absolute; bottom: -7px; border-bottom: 1px solid rgba(120, 130, 157, 0.1); border-top: 1px solid #141824; }

.menu__history { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 30px; position: relative; }

@media screen and (max-width: 630px) { .menu__history { padding-left: 17px; } }

.menu__history .history__notification { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 30px; font-weight: 300; }

.menu__history .history__notification i { margin-right: 30px; }

.menu__history .history__notification .notification__description { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; line-height: 22px; }

.menu__history .history__notification .notification__description span { font-weight: 500; }

@media screen and (max-width: 1520px) { .menu__history .history__notification .notification__description { width: 0; height: 50px; overflow: hidden; } }

.menu .hideMenu { background-color: transparent; outline: none; border: none; width: 100%; text-align: center; }

.menu .hideMenu span { color: #ffffff; font-size: 20px; font-weight: 500; margin-left: -5px; margin-top: 20px; -webkit-transform: scaleX(-1); -ms-transform: scaleX(-1); transform: scaleX(-1); -webkit-transition: -webkit-transform .3s; transition: -webkit-transform .3s; -o-transition: transform .3s; transition: transform .3s; transition: transform .3s, -webkit-transform .3s; }

@media screen and (max-width: 1520px) { .menu { width: 75px; overflow: hidden; }
  .menu.active { width: 320px; }
  .menu.active .menu__history .history__notification .notification__description { width: 100%; height: auto; }
  .menu.active .menu__new-movie a.addMovie span { display: inline; }
  .menu.active .menu__new-movie a.addMovie { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
  .menu.active .menu__new-movie a.addMovie i { margin-right: 30px; }
  .menu.active .hideMenu span { -webkit-transform: scaleX(1); -ms-transform: scaleX(1); transform: scaleX(1); } }

@media screen and (max-width: 630px) { .menu { width: 50px; } }

.main__content { width: 100%; padding-left: 350px; }

@media screen and (max-width: 1520px) { .main__content { padding-left: 75px; } }

@media screen and (max-width: 630px) { .main__content { padding-left: 50px; } }

.main__header { background-color: #eef1f7; }

.main__header .main__title { font-size: 22px; line-height: 26px; color: #444c63; padding: 30px 0 30px 25px; border-bottom: 2px solid #dadfea; }

.main__actions-bar { padding: 15px; border-top: 2px solid #f4f6fa; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; border-bottom: 2px solid #dadfea; }

@media screen and (max-width: 1160px) { .main__actions-bar { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.main__actions-bar .main__filters { display: -webkit-box; display: -ms-flexbox; display: flex; }

@media screen and (max-width: 740px) { .main__actions-bar .main__filters { -ms-flex-wrap: wrap; flex-wrap: wrap; } }

.main__actions-bar .main__filters li:not(:last-child) { margin-right: 15px; }

@media screen and (max-width: 740px) { .main__actions-bar .main__filters li { width: 100%; margin-right: 0; white-space: nowrap; } }

.main__actions-bar .main__filters a { font-size: 14px; font-weight: 500; padding: 9px 10px; -webkit-transition: background-color .3s; -o-transition: background-color .3s; transition: background-color .3s; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 10px; }

.main__actions-bar .main__filters a.active, .main__actions-bar .main__filters a:hover { cursor: pointer; background-color: #97b3ce; }

.main__actions-bar .main__filters a.active span, .main__actions-bar .main__filters a:hover span { color: #fff; }

.main__actions-bar label { position: relative; }

@media screen and (max-width: 1160px) { .main__actions-bar label { margin-top: 30px; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; } }

.main__actions-bar label input { padding: 8px 15px; width: 200px; border-radius: 16px; background-color: #ffffff; border: 1px solid rgba(140, 151, 178, 0.4); font-size: 14px; -o-text-overflow: ellipsis; text-overflow: ellipsis; padding-right: 50px; -webkit-transition: width .3s; -o-transition: width .3s; transition: width .3s; }

.main__actions-bar label input::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ color: #8c97b2; opacity: 1; /* Firefox */ }

.main__actions-bar label input:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ color: #8c97b2; opacity: 1; /* Firefox */ }

.main__actions-bar label input::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ color: #8c97b2; opacity: 1; /* Firefox */ }

.main__actions-bar label input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ color: #8c97b2; opacity: 1; /* Firefox */ }

.main__actions-bar label input:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #8c97b2; }

.main__actions-bar label input::-ms-input-placeholder { /* Microsoft Edge */ color: #8c97b2; }

.main__actions-bar label input:focus { outline: none; width: 400px; }

@media screen and (max-width: 1160px) { .main__actions-bar label input:focus { width: 300px; } }

@media screen and (max-width: 375px) { .main__actions-bar label input:focus { width: 250px; } }

.main__actions-bar label i { position: absolute; right: 10px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.movies { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 100%; padding: 30px 0 0 2%; position: relative; }

@media screen and (max-width: 630px) { .movies { padding: 30px 0; } }

.movie { margin-right: 2%; margin-bottom: 2%; width: 18%; }

@media screen and (max-width: 1880px) { .movie { margin-right: 2%; margin-bottom: 2%; width: 23%; } }

@media screen and (max-width: 1230px) { .movie { margin-right: 2%; margin-bottom: 2%; width: 31.33333%; } }

@media screen and (max-width: 955px) { .movie { margin-right: 2%; margin-bottom: 2%; width: 48%; } }

@media screen and (max-width: 630px) { .movie { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 80%; margin: 0 auto 30px; } }

@media screen and (max-width: 425px) { .movie { width: 95%; } }

.movie.hide { display: none; }

.movie__content { position: relative; overflow: hidden; }

.movie__content img { width: 100%; -o-object-fit: contain; object-fit: contain; }

.movie__content .movie__rate { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: absolute; bottom: 10%; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); width: 100%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.movie__content .movie__rate span { font-weight: 700; color: #fff; margin-bottom: 10px; }

.movie__content:hover .movie__actions { display: block; }

.movie__content:hover .movie__action a { -webkit-animation: entry .3s; animation: entry .3s; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }

.movie__content:hover .movie__action:nth-child(2) a { -webkit-animation-delay: .1s; animation-delay: .1s; }

.movie__content:hover .movie__action:nth-child(3) a { -webkit-animation-delay: .2s; animation-delay: .2s; }

.movie__content:hover .movie__action:nth-child(4) a { -webkit-animation-delay: .3s; animation-delay: .3s; }

.movie__content .movie__actions { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; display: none; }

.movie__content .movie__actions .movie__remove { width: 45px; height: 45px; border-radius: 10px; background-color: #2f364a; border: 1px solid #78829d; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: absolute; top: 10px; right: 20px; font-size: 30px; color: #78829d; cursor: pointer; -webkit-transition: .3s all; -o-transition: .3s all; transition: .3s all; }

.movie__content .movie__actions .movie__remove:hover { background-color: #ffffff; color: #2f364a; }

.movie__content .movie__actions .movie__add { position: absolute; top: 10px; left: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.movie__content .movie__actions .movie__btn { position: absolute; top: 60%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); border: 1px solid #78829d; background-color: #2f364a; border-radius: 10px; padding: 7px 25px; white-space: nowrap; -webkit-transition: .3s all; -o-transition: .3s all; transition: .3s all; font-weight: 700; outline: none; color: #78829d; cursor: pointer; }

@media screen and (max-width: 1520px) { .movie__content .movie__actions .movie__btn { padding: 5px 18px; font-size: 12px; } }

.movie__content .movie__actions .movie__btn:hover { background-color: #fff; color: #2f364a; }

.movie__content .movie__actions .movie__btn.movie__btn--goto { top: 60%; }

.movie__content .movie__actions .movie__btn.movie__btn--similar { top: 70%; }

.movie__content .movie__action { -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 25px; cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; }

.movie__content .movie__action:nth-child(1) a { background-color: #e64c66; }

.movie__content .movie__action:nth-child(2) a { background-color: #ffab00; }

.movie__content .movie__action:nth-child(3) a { background-color: #00bfdd; }

.movie__content .movie__action:nth-child(4) a { background-color: #7874cf; }

.movie__content .movie__action a { display: block; width: 20px; height: 20px; border-radius: 50%; margin-right: 20px; position: relative; left: -50px; }

.movie__content .movie__action:hover span { width: 160px; }

.movie__content .movie__action span { width: 0; overflow: hidden; color: #fff; -webkit-transition: .3s all; -o-transition: .3s all; transition: .3s all; white-space: nowrap; font-weight: 500; font-size: 14px; }

@media screen and (max-width: 1520px) { .movie__content .movie__action span { font-size: 11px; } }

.movie__content .movie__action.active span { font-weight: 700; }

.movie__content .movie__action:nth-child(1).active span { color: #e64c66; }

.movie__content .movie__action:nth-child(3).active span { color: #00bfdd; }

.movie__content .movie__action:nth-child(2).active span { color: #ffab00; }

.movie__content .movie__action:nth-child(4).active span { color: #7874cf; }

.movie__content:hover::after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); }

.movie__description { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-top: 15px; }

.movie__title-category { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.movie__title-category .movie__title { font-weight: 700; margin-bottom: 8px; line-height: 20px; padding-right: 30px; }

.movie__title-category .movie__category { font-weight: 100; font-size: 14px; width: 80%; }

.movie .movie__rating { font-weight: 700; font-size: 30px; margin-right: 10px; color: #f2795a; }

.scrollToTop { display: none; position: fixed; bottom: 30px; right: 30px; height: 60px; width: 60px; background-color: #1f2637; border: none; outline: none; border-radius: 50%; z-index: 4; -webkit-transition: all .3s; -o-transition: all .3s; transition: all .3s; cursor: pointer; }

.scrollToTop i { font-size: 30px; color: #ffffff; margin: 0; padding: 0; }

.scrollToTop:focus { outline: none; }

.scrollToTop:hover { -webkit-box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.6); box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.6); }

@-webkit-keyframes entry { 0% { left: -50px; }
  100% { left: 0; } }

@keyframes entry { 0% { left: -50px; }
  100% { left: 0; } }

.loading__logo { position: absolute; left: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 3; background: rgba(0, 0, 0, 0.7); width: 100%; height: 100%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: none; }

.loading__logo div { width: 10px; height: 10px; border-radius: 50%; -webkit-animation: jump .6s infinite; animation: jump .6s infinite; }

.loading__logo div:not(:last-child) { margin-right: 5px; }

.loading__logo.page { top: 40vh; background: transparent; }

.loading__logo.page div { width: 20px; height: 20px; }

.loading__logo.history { top: 5vh; background-color: transparent; }

.loading__logo.history div { width: 8px; height: 8px; }

.loading__logo.active { display: -webkit-box; display: -ms-flexbox; display: flex; }

.loading__logo .loading__logo--standard:nth-child(1) { background-color: #181d2a; }

.loading__logo .loading__logo--standard:nth-child(2) { background-color: #141823; -webkit-animation-delay: .1s; animation-delay: .1s; }

.loading__logo .loading__logo--standard:nth-child(3) { background-color: #0d0f16; -webkit-animation-delay: .2s; animation-delay: .2s; }

.loading__logo .loading__logo--red { background-color: #e76847; }

.loading__logo .loading__logo--yellow { background-color: #fabf00; -webkit-animation-delay: .1s; animation-delay: .1s; }

.loading__logo .loading__logo--green { background-color: #52bea6; -webkit-animation-delay: .2s; animation-delay: .2s; }

@-webkit-keyframes jump { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  50% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }

@keyframes jump { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  50% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }

.browse-history { position: relative; width: 100%; height: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; }

.browse-history .history__notification { background: #8e99b7; padding: 15px 30px; border-radius: 10px; width: 80%; color: #fff; }

.browse-history .history__notification .notification__description { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; }

.browse-history .history__notification .notification__description i { font-size: 25px; background-color: white; border-radius: 50%; width: 18px; height: 18px; }

.browse-history .history__notification .notification__description i.add { color: #1ccd50; }

.browse-history .history__notification .notification__description i.remove { color: red; }

.unexpected-error { position: absolute; top: 50%; left: 50%; -webkit-transform: translateX(-40%); -ms-transform: translateX(-40%); transform: translateX(-40%); font-size: 18px; line-height: 25px; text-align: center; width: 70%; }

@media screen and (max-width: 699px) { .unexpected-error { width: 75%; } }

.form-container { position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(255, 255, 255, 0.7); z-index: 5; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.form-section { position: relative; width: 40%; padding: 40px 80px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background-color: #fff; -webkit-box-shadow: 0px 0px 38px 13px rgba(0, 0, 0, 0.55); box-shadow: 0px 0px 38px 13px rgba(0, 0, 0, 0.55); min-height: 650px; }

@media screen and (max-width: 1380px) { .form-section { width: 50%; } }

@media screen and (max-width: 1099px) { .form-section { padding: 80px 40px; } }

@media screen and (max-width: 850px) { .form-section { width: 60%; } }

@media screen and (max-width: 699px) { .form-section { width: 90%; } }

@media screen and (max-width: 425px) { .form-section { width: 95%; min-height: 500px; padding: 30px 20px; } }

.form-section .form-section__title { color: #15a4fa; font-weight: 700; font-size: 35px; letter-spacing: 1px; text-transform: uppercase; margin-bottom: 50px; text-align: center; }

@media screen and (max-width: 1520px) { .form-section .form-section__title { font-size: 25px; } }

@media screen and (max-width: 425px) { .form-section .form-section__title { font-size: 20px; } }

.form-section .closeForm { position: absolute; right: 30px; top: 30px; width: 40px; height: 40px; -webkit-transition: all .3s; -o-transition: all .3s; transition: all .3s; cursor: pointer; }

@media screen and (max-width: 699px) { .form-section .closeForm { width: 30px; height: 30px; top: 5px; right: 5px; } }

.form-section .closeForm:before { content: ''; position: absolute; left: 0; width: 4px; height: 100%; background-color: #d1d4dd; border-radius: 10px; z-index: 3; -webkit-transform: rotateZ(45deg); -ms-transform: rotate(45deg); transform: rotateZ(45deg); }

.form-section .closeForm:before else { right: 0; }

.form-section .closeForm:after { content: ''; position: absolute; width: 4px; height: 100%; background-color: #d1d4dd; border-radius: 10px; z-index: 3; -webkit-transform: rotateZ(-45deg); -ms-transform: rotate(-45deg); transform: rotateZ(-45deg); }

.form-section .closeForm:after else { right: 0; }

.form-section .closeForm:hover:before, .form-section .closeForm:hover:after { background-color: #78829d; }

.help-form { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.help-form .help-form__personal-data { display: -webkit-box; display: -ms-flexbox; display: flex; }

.help-form .help-form__personal-data .personal-data__user_name { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 50%; }

.help-form .help-form__personal-data .personal-data__user_name:first-child { margin-right: 50px; }

@media screen and (max-width: 699px) { .help-form .help-form__personal-data .personal-data__user_name:first-child { margin-right: 20px; } }

.help-form label { color: #78829d; text-transform: uppercase; font-weight: 500; letter-spacing: -1px; font-size: 16px; position: relative; white-space: nowrap; }

@media screen and (max-width: 1520px) { .help-form label { font-size: 14px; } }

@media screen and (max-width: 1380px) { .help-form label { font-size: 12px; } }

@media screen and (max-width: 425px) { .help-form label { font-size: 11px; } }

.help-form label span { position: absolute; will-change: transform; -webkit-transition: all .3s; -o-transition: all .3s; transition: all .3s; }

.help-form label span.active { -webkit-transform: translateY(-25px) scale(0.8) translateX(-10px); -ms-transform: translateY(-25px) scale(0.8) translateX(-10px); transform: translateY(-25px) scale(0.8) translateX(-10px); }

.help-form input, .help-form textarea, .help-form select { border: none; outline: none; border-bottom: 1.5px solid #d1d4dd; margin-bottom: 50px; width: 100%; -webkit-transition: border-color .3s; -o-transition: border-color .3s; transition: border-color .3s; }

.help-form input.error, .help-form textarea.error, .help-form select.error { border-color: #E63946; }

.help-form input.success, .help-form textarea.success, .help-form select.success { border-color: #04E824; }

.help-form select { text-transform: uppercase; font-size: 14px; -webkit-appearance: none; -moz-appearance: none; appearance: none; padding-bottom: 5px; }

@media screen and (max-width: 425px) { .help-form select { font-size: 11px; } }

.help-form .sendMessage { min-width: 200px; padding: 20px 30px; border-radius: 4px; background-color: #15a4fa; border: none; outline: none; color: #fff; text-transform: uppercase; font-weight: 700; font-size: 14px; -ms-flex-item-align: end; align-self: flex-end; }

@media screen and (max-width: 425px) { .help-form .sendMessage { min-width: auto; padding: 10px 20px; } }

.help-form .sendMessage:hover { background-color: #42b5fb; cursor: pointer; }

.help-form .sendMessage i { margin-left: 30px; }

.form-confirm { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align: center; line-height: 24px; }

.form-confirm span { font-size: 100px; margin: 50px 0 30px 0; color: #04E824; }

body { color: #78829d; font-family: "Montserrat", sans-serif; font-size: 16px; min-height: 101vh; position: relative; }

a { color: #78829d; }

a:hover { color: #78829d; text-decoration: none; }

main { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 45px; overflow: hidden; min-height: 100vh; }
