@mixin mQ($arg) {
    @media only screen and (max-width: $arg) {
        @content;
    }
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
}

@mixin borderAfter($bottom) {
    content: '';
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: $bottom;
    border-bottom: 1px solid rgba(120,130,157,0.1);
    border-top: 1px solid #141824;
}

@mixin grid($col, $mrg) {

    margin-right: $mrg;
    margin-bottom: $mrg;
    width: ((100% - (($col) * $mrg)) / $col);
    // &:nth-child(#{$col}n) {
    //     // margin-right: 0;
    // }
}

@mixin button($color) {
    min-width: 200px;
    padding: 20px 30px;
    border-radius: 4px;
    background-color: $color;
    border: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}


@mixin closeBtn($thin, $color, $rotate) {
    content: '';
    position: absolute;
    left: 50%;
    width: $thin;
    height: 100%;
    background-color: $color;
    border-radius: 10px;
    z-index: 3;
    transform: translateX(-50%) rotateZ(#{$rotate}deg)
}

@mixin closeContainer($size, $top, $right) {
    position: absolute;
    right: $right;
    top: $top;
    width: $size;
    height: $size;
    transition: all .3s;
    cursor: pointer;
}
@mixin movieActive($self) {
    #{$self}__actions {
    display: block;
    }
    #{$self}__action a{
        animation: entry .3s;
        animation-fill-mode: forwards;
    }
    #{$self}__action:nth-child(2) a {
        animation-delay: .1s;
    }
    #{$self}__action:nth-child(3) a {
        animation-delay: .2s;
    }
        #{$self}__action:nth-child(4) a {
        animation-delay: .3s;
    }
}

@mixin resetBtnStyle {
    outline: none;
    border: none;
    background-color: transparent;
}

@mixin menuActive {
    width: 320px;

    .menu__history .history__notification .notification__description {
        width: 100%;
        height: auto;
    }
    .menu__new-movie a.addMovie span {
        display: inline;
    }
    .menu__new-movie a.addMovie {
        flex-direction: row
    }
    .menu__new-movie a.addMovie i {
        margin-right: 30px;
    }
    .hideMenu span {
        transform: scaleX(1);
    }
}