// General
$mainFont: 'Montserrat', sans-serif;
$fontSize: 16px;
$textColor: #78829d;
$contentMargin: 30px;

// Header
$headerHeight: 45px;
$headerBG: #2f364a;

// Menu
$menuBG: #1f2637;
$menuActiveItemBG: #15a4fa;