.unexpected-error {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
    p {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
    }

}