.header {
    $self: &;
    display: flex;
    height: $headerHeight;
    background-color: $headerBG;
    align-items: center;
    position: fixed;
    z-index: 4;
    width: 100%;
    top: 0;


    &__logo {
        position: absolute;
        left: $contentMargin;
        display: flex;

        div {
            width: 10px;
            height: 10px;
            border-radius: 5px;

            &:not(:last-child) {
                margin-right: 5px;
            }
        }

        #{$self}__logo--red {
            background-color: #e76847;
        }
        #{$self}__logo--yellow {
            background-color: #fabf00;
            animation-delay: .1s
        }
        #{$self}__logo--green {
            background-color: #52bea6;
            animation-delay: .2s
        }
    }

    &__title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        i {
            margin-right: 5px;

            &:before {
                font-size: $fontSize;
            }
        }

        @include mQ(1279px) {
            position: static;
            margin-left: 140px;
        }
    }


    &__nav {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
        }
        & > a {
            color: $textColor;
            position: relative;
            @include mQ(1160px) {
                margin-right: 25px;
            }

            &:hover {
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -15px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: rgba(25,32,46,0.7);

                }
            }
        }
        .profile  {
            padding: 0 $contentMargin;
            background-color: #15a4fa;
            height: 45px;
            display: flex;
            align-items: center;
            position: relative;

            a {
                display: flex;
                align-items: center;
            }

            &__logo {
                width: 32px;
                height: 32px;
                border-radius: 16px;
                border: 2px solid #eef1f7;
                margin-right: 10px;

                 img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            &__name {
                color: #fff;
            }

            i {
                margin-left: 25px;
                color: #fff;

                @include mQ(630px) {
                    margin-left: 0;
                    font-size: 18px;
                }
            }

            .profile__logo, .profile__name {
                @include mQ(630px) {
                    display: none;
                }
            }

            .profile__menu {
                display: none;
                position: absolute;
                top: 100%;
                right: 0;
                background-color: $headerBG;
                width: 100%;
                padding: 20px 32px;
                box-shadow: -5px 5px 20px 0 rgba(0,0,0,.5);
                transition: opacity .3s;
                @include mQ(630px) { width: 200px}


                li {
                   display: flex;
                   justify-content: flex-end;

                   span {
                        margin-left: 25px;
                        transform: scaleX(-1)
                   }

                   a {
                       transition: .3s all;
                       &:hover {
                           color: #fff;
                       }
                   }
                }

                li:not(:last-child) {margin-bottom: 10px;}
                .show-mobile {
                    display: block;
                }
            }

            &:hover {
                .profile__menu {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        & > a {
            margin-right: 25px;
        }

        .hide-mobile {
            @include mQ(630px) {
                display: none;
            }
        }
    }

}



