.browse-history {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .history__notification {
        background: lighten(#2f364a, 40);
        padding: 15px 30px;
        border-radius: 10px;
        width: 80%;
        color: #fff;

        @include mQ(1024px){
            width: 100%;
        }

        .notification__description {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            @include mQ(1340px) {
                flex-direction: column;
                overflow: visible;
                height: auto;
            }

            i {
                font-size: 25px;
                background-color: white;
                border-radius: 50%;
                width: 18px;
                height: 18px;
                &.add {
                    color: #04E824;
                }
                &.remove {
                    color: #E63946
                }


            }

            .notification__time {
                @include mQ(1340px) {
                    margin-top: 10px;
                    align-self: flex-end;
                }
            }

        }
    }
}