.main {
    $self: &;

    &__content {
        width: 100%;
        padding-left: $navWidth;

        @include mQ(1520px) {
            padding-left: $navWidthMid;
        }
        @include mQ(630px) {
            padding-left: $navWidthSmall;
        }
    }

    &__header {
        background-color: #eef1f7;

        #{$self}__title {
            font-size: 22px;
            line-height: 26px;
            color: #444c63;
            padding: 30px 0 30px 25px;
            border-bottom: 2px solid #dadfea;
        }

    }
    &__actions-bar {
            padding: 15px;
            border-top: 2px solid #f4f6fa;
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid #dadfea;

            @include mQ(1160px) {
                flex-direction: column;
            }

            #{$self}__filters {
                display: flex;

                @include mQ(740px) {
                    flex-wrap: wrap;
                }

                li:not(:last-child) {
                    margin-right:  15px;
                }
                li {
                    @include mQ(740px) {
                        width: 100%;
                        margin-right: 0;
                        white-space: nowrap;
                    }
                }
                a {
                    font-size: 14px;
                    font-weight: 500;
                    padding: 9px 10px;
                    transition: background-color .3s;
                    display: flex;
                    align-items: center;
                    border-radius: 10px;


                    &.active, &:hover {
                        cursor: pointer;
                        background-color: #97b3ce;

                    }
                    &.active span, &:hover span {
                        color: #fff;
                    }
                }
            }

            label {
                position: relative;

                @include mQ(1160px) {
                    margin-top: 30px;
                    width: fit-content;
                }

                input {
                    padding: 8px 15px;
                    width: 200px;
                    border-radius: 16px;
                    background-color: #ffffff;
                    border: 1px solid rgba(140,151,178,0.4);
                    font-size: 14px;
                    text-overflow: ellipsis;
                    padding-right: 50px;
                    transition: width .3s;


                    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: #8c97b2;
                        opacity: 1; /* Firefox */
                    }

                    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: #8c97b2;
                    }

                    &::-ms-input-placeholder { /* Microsoft Edge */
                        color: #8c97b2;
                    }

                    &:focus {
                        outline: none;
                        width: 400px;

                        @include mQ(1160px) {
                            width: 300px;
                        }
                        @include mQ(375px) {
                            width: 250px;
                        }
                    }
                }
                i {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

    }


}

.movies {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 30px 0 0 $movieMargin;
        position: relative;

        @include mQ(630px) {
            padding: 30px 0;
        }
}
.movie {
        $self: &;
        @include grid(5,2%);
        @include mQ(1880px) {
            @include grid(4,$movieMargin);
        }
        @include mQ(1230px) {
            @include grid(3,$movieMargin);
        }
        @include mQ(955px) {
            @include grid(2,$movieMargin);
        }
        @include mQ(630px) {
            flex-direction: column;
            width: 80%;
            margin: 0 auto 30px;
        }
        @include mQ(425px) {
            width: 95%;
        }

        &.hide {
            display: none;
        }
        &__content {
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
                object-fit: contain;
            }

            #{$self}__rate {
                display: flex;
                flex-direction: column;
                position: absolute;
                bottom: 10%;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                justify-content: center;
                align-items: center;

                span {
                    font-weight: 700;
                    color: #fff;
                    margin-bottom: 10px;
                }
            }

            &.active {
                #{$self}__actions {
                    display: block;
                }
                #{$self}__action a{
                    animation: entry .3s;
                    animation-fill-mode: forwards;
                }
                #{$self}__action:nth-child(2) a {
                    animation-delay: .1s;
                }
                #{$self}__action:nth-child(3) a {
                    animation-delay: .2s;
                }
                 #{$self}__action:nth-child(4) a {
                    animation-delay: .3s;
                }
            }
            #{$self}__actions {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                display: none;

                #{$self}__remove {
                    width: 45px;
                    height: 45px;
                    border-radius: 10px;
                    background-color: $headerBG;
                    border: 1px solid $textColor;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 10px;
                    right: 20px;
                    font-size: 30px;
                    color: $textColor;
                    cursor: pointer;
                    transition: .3s all;

                    &:hover {
                        background-color: #ffffff;
                        color: $headerBG;
                    }
                }
                #{$self}__add {
                    position: absolute;
                    top: 10px;
                    left: 20px;
                    display: flex;
                    flex-direction: column;
                }
                #{$self}__btn {
                    position: absolute;
                    top: 60%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    border: 1px solid #78829d;
                    background-color: #2f364a;
                    border-radius: 10px;
                    padding: 7px 25px;
                    white-space: nowrap;
                    transition: .3s all;
                    font-weight: 700;
                    outline: none;
                    color:  $textColor;
                    cursor: pointer;

                    @include mQ(1520px) {
                        padding: 5px 18px;
                        font-size: 12px;
                    }

                    &:hover {
                        background-color: #fff;
                        color: #2f364a;
                    }
                    &.movie__btn--goto {
                        top: 60%;
                     }
                    &.movie__btn--similar {
                        top: 70%;
                    }
                }

            }

            #{$self}__action {
                align-items: center;
                margin-bottom: 25px;
                cursor: pointer;
                display: flex;
                position: relative;


                &:nth-child(1) a { background-color: #e64c66;}
                &:nth-child(2) a { background-color: #ffab00;}
                &:nth-child(3) a { background-color: #00bfdd;}
                &:nth-child(4) a { background-color: #7874cf;}

                a {
                    display: block;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    margin-right: 20px;
                    position: relative;
                    left: -50px;
                }
                &:hover {
                    span {
                        width: 160px;
                    }
                }
                span {
                    width: 0;
                    overflow: hidden;
                    color: #fff;
                    transition: .3s all;
                    white-space: nowrap;
                    font-weight: 500;
                    font-size: 14px;

                    @include mQ(1520px) {
                        font-size: 11px;
                    }
                    @include mQ(1199px) {
                        width: 160px;
                    }
                }

                &.active span {
                    font-weight: 700;
                }
                &:nth-child(1).active span { color: #e64c66;}
                &:nth-child(3).active span { color: #00bfdd;}
                &:nth-child(2).active span { color: #ffab00;}
                &:nth-child(4).active span { color: #7874cf;}


            }

            &.active {

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,.7);
                }
            }

        }

        &__description {
            display: flex;
            justify-content: space-between;
            padding-top: 15px;
        }

        &__title-category {
            display: flex;
            flex-direction: column;

            #{$self}__title {
                font-weight: 700;
                margin-bottom: 8px;
                line-height: 20px;
                padding-right: 30px;
            }
            #{$self}__category {
                font-weight: 100;
                font-size: 14px;
                width: 80%;
            }
        }
        #{$self}__rating {
            font-weight: 700;
            font-size: 30px;
            margin-right: 10px;
            color: #f2795a;
        }
    }

    .scrollToTop {
        display: none;
        position: fixed;
        bottom: 30px;
        right: 30px;
        height: 60px;
        width: 60px;
        background-color: $menuBG;
        border: none;
        outline: none;
        border-radius: 50%;
        z-index: 4;
        transition: all .3s;
        cursor: pointer;

        i {
            font-size: 30px;
            color: #ffffff;
            margin: 0;
            padding: 0;
        }

        &:focus {
            outline: none;
        }
        &:hover {
            box-shadow: 0 0 13px 4px rgba(0,0,0,.6);
        }
    }

    @keyframes entry {
        0% {
            left: -50px
        }

        100% {
            left: 0
        }
    }