@import 'reset';
@import 'variables';
@import 'mixins';


@import 'header';
@import 'navigation';
@import 'main';


body {
    color: $textColor;
    font-family: $mainFont;
    font-size: $fontSize;
}

a {
    color: $textColor;

    &:hover {
        color: $textColor;
        text-decoration: none;
    }

}

main {
    display: flex;
    margin-top: $headerHeight;
}